.attribute {
	background-color: $oc-gray-2;
	display: inline-block;

	font-size: 1.2rem;
	padding: 0.4rem 0.7rem 0.5rem;
	border-radius: 4px;
	margin-right: 0.4rem;

	&:last-of-type {
		margin-right: 0;
	}

	color: $oc-gray-6;

	&.status {
		&.draft {
			background-color: $oc-green-1;
			color: rgba($oc-black, 0.7);
		}

		&.published {
			background-color: $oc-blue-1;
			color: rgba($oc-black, 0.7);
		}
	}

	&.role {
		&.owner {
			background-color: $oc-violet-4;
			color: $oc-white;
		}

		&.manager {
			background-color: $oc-indigo-4;
			color: $oc-white;
		}

		&.auditor {
			background-color: $oc-blue-4;
			color: $oc-white;
		}

		&.custom {
			background-color: $oc-gray-5;
			color: $oc-white;
		}
	}
}

.attribute-list {
	.attribute-list-item {
		height: 2.2rem;
		display: flex;
		align-items: center;
		cursor: pointer;

		input {
			margin: 0 0.9rem 0 0;
		}

		strong {
			font-size: 1.3rem;
			font-weight: 400;
			color: $oc-gray-7;
			user-select: none;
		}
	}
}

.panel-body .attribute-list {
	padding: 0.4rem 0 0.5rem;

	.attribute-list-item {
		padding: 0 1.6rem;
		height: 3rem;
	}
}
