.download-count {
	display: inline-block;
	color: $oc-gray-5;

	.download-count-flex {
		display: flex;
		align-items: center;
	}

	strong {
		font-weight: 400;
		color: $oc-gray-7;
	}

	svg {
		margin-left: 0.4rem;
		width: 1.2em;
		height: 1.2em;
		stroke-width: 2;
	}
}
