.btn {
	height: 3.6rem;
	padding: 0 18px;
	border: 1px solid transparent;
	color: $oc-gray-7;
	border-radius: 4px;
	font-weight: 500;
	position: relative;
	line-height: 1;
	font-size: 1.3rem;
	background-color: $oc-gray-3;

	transition: color 0ms;

	&:hover, &:active, &:focus {
		border-color: transparent;
		color: $oc-gray-7;
		background-color: $oc-gray-4;
	}

	.button-loader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		color: #fff;
	}

	&.loading {
		color: transparent !important;
		cursor: default;
	}

	&.has-icon {
		padding-left: 3.8rem;

		.button-icon {
			position: absolute;
			top: 0.8rem;
			left: 1.4rem;

			svg {
				width: 1.8rem;
				height: 1.8rem;
			}
		}

		&.without-text {
			width: 3.6rem;
			padding: 0;

			.button-icon {
				display: flex;
				align-items: center;
				justify-content: center;

				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	@each $map, $name in $oc-color-list {
		&.btn-#{$name} {
			color: $oc-white;
			background-color: map-get($map, "8");

			&:hover {
				background-color: map-get($map, "7");
			}

			&.loading:hover {
				background-color: map-get($map, "8");
			}

			&.btn-light {
				background-color: lighten(map-get($map, "8"), 1.8%);

				&:hover {
					background-color: lighten(map-get($map, "7"), 1.8%);
				}

				&.loading:hover {
					background-color: lighten(map-get($map, "8"), 1.8%);
				}
			}
		}
	}
}

a.btn {
	color: $oc-gray-7;
	text-decoration: none;

	&:hover {
		color: $oc-gray-7;
	}

	.btn-text {
		height: 3.4rem;
		display: flex;
		align-items: center;
	}

	@each $map, $name in $oc-color-list {
		&.btn-#{$name} {
			color: $oc-white;
		}
	}
}
