@mixin form-control-themed {
	background-color: $oc-gray-1;
	border-color: $oc-gray-3;

	&:focus, &:active {
		background-color: $oc-white;
		border-color: $oc-gray-3;
		color: $oc-dark-4;
	}

	height: 3.4rem;
	min-height: 3.4rem;
	line-height: 3.4rem;
	font-size: 1.4rem;
	border-radius: 3px;
	color: $oc-dark-4;

	padding: 0.4rem 1.1rem;

	&.half {
		max-width: 34rem;
	}
}

.form-control {
	&[type=text], &[type=email], &[type=password], &[type=number] {
		@include form-control-themed;
	}
}

.form-select {
	@include form-control-themed;
	line-height: 1;
}

textarea.form-control {
	background-color: $oc-gray-1;
	border-color: $oc-gray-3;
	font-size: 1.4rem;
	line-height: 1.4;
	border-radius: 3px;
	color: $oc-dark-4;

	padding: 0.7rem 1.1rem;

	&:focus, &:active {
		background-color: $oc-white;
		border-color: $oc-gray-3;
		color: $oc-dark-4;
	}
}

.form-control, .form-check-input {
	box-shadow: none !important;
}

.form-check {
	display: flex;
	align-items: center;

	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	font-size: 1.4rem;

	.form-check-input {
		margin-top: 0;
		margin-right: 0.7rem;
	}

	.form-check-label {
		line-height: 1.4rem;
	}
}

.form-floating > .form-control ~ label {
	display: flex;
    align-items: center;
    padding: 0 0.75rem;
	color: $oc-gray-6;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
	transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-section {
	margin-bottom: 2rem;

	&.border-top {
		border-top: 1px solid $oc-gray-3;
		padding-top: 2rem;
	}

	&.border-bottom {
		border-bottom: 1px solid $oc-gray-3;
		padding-bottom: 2rem;
	}

	&.info {
		display: flex;
		align-items: center;

		border-top: 1px solid $oc-gray-3;
		border-bottom: 1px solid $oc-gray-3;

		padding-top: 1.4rem;
		padding-bottom: 1.4rem;

		svg {
			width: 2rem;
			height: 2rem;
			color: $oc-gray-6;
			margin-right: 0.7rem;
		}

		p {
			font-size: 1.3rem;
			color: #828282;

			strong {
				font-weight: 500;
			}
		}
	}
}

.form-card-container {
	border: 1px solid $oc-gray-3;
	border-radius: 4px;
}

.form-card {
	border-bottom: 1px solid $oc-gray-3;
	background-color: transparent;

	display: flex;
	align-items: center;
	padding: 1.8rem 1.8rem;

	h3 {
		font-size: 1.6rem;
		color: $oc-dark-4;
		margin-bottom: 0.3rem;
	}

	p {
		font-size: 1.4rem;
		color: $oc-gray-6;
	}

	.details {
		flex-grow: 1;
	}

	&:last-of-type {
		border-bottom: 0;
	}
}

.form-group {
	margin-bottom: 1.5rem;

	label, .form-label {
		display: block;
		font-size: 1.4rem;
		font-weight: 500;
		color: #393939;
		margin-bottom: 0.5rem;
		cursor: default;

		span.tip {
			font-size: 1.3rem;
			color: #929292;
		}
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	.attribute-list {
		padding: 0.4rem 0 0;

		label {
			margin-bottom: 0;
		}
	}
}

.form-label + .form-radio-list {
	padding-top: 0.6rem;
}

.form-radio-list {
	.form-radio-list-item {
		display: flex;
		align-items: center;
		margin-bottom: 0.9rem;

		&:last-of-type {
			margin-bottom: 0;
		}

		.radio {
			margin-right: 0.7rem;

			input {
				margin: 0;
			}
		}

		label {
			display: flex;
			align-items: center;
			margin: 0;

			.icon {
				margin-right: 0.3rem;
				display: flex;

				svg {
					width: 2.8rem;
					height: 2.8rem;
					color: $oc-gray-6;
				}
			}

			.details {
				strong {
					font-size: 1.4rem;
					color: #393939;
					font-weight: 500;
				}

				p {
					font-size: 1.3rem;
					font-weight: 400;
					color: #828282;
				}
			}
		}
	}
}

.form-container h1 {
	margin-bottom: 2rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid $oc-gray-3;

	&.spacious {
		margin-top: 4.5rem;
	}
}
