table.table {
	thead {
		th.sortable {
			cursor: pointer;
			user-select: none;

			.sort-container {
				display: flex;
				align-items: center;

				&.text-end .sort-title {
					margin-left: auto;
				}
			}

			.sort-direction {
				padding-left: 0.3rem;
				line-height: 1.7rem;
				color: $oc-gray-5;

				svg {
					width: 1.5rem;
					height: 1.5rem;
					margin-bottom: 0.1rem;
					transition: transform 0.1s;
				}
			}

			&:hover {
				.sort-direction {
					color: $oc-gray-7;
				}
			}

			&.active {
				.sort-direction {
					color: $oc-gray-7;
				}
			}
		}
	}

	&.themed {
		border-radius: 4px;
		background-color: $oc-white;
		box-shadow: 0 0 3px rgba($oc-black, 0.03);

		thead {
			th {
				background-color: $oc-gray-2;
				color: inherit;

				font-size: 1.4rem;
				font-weight: 500;
				color: $oc-gray-7;

				vertical-align: middle;
				line-height: 3.5rem;
				border-bottom-color: $oc-gray-3;

				padding: 0.5rem 1rem;

				&:first-of-type {
					border-top-left-radius: 4px;
					padding-left: 2rem;
				}

				&:last-of-type {
					border-top-right-radius: 4px;
					padding-right: 2rem;
				}
			}
		}

		tbody {
			tr {
				&.clickable {
					cursor: pointer;
				}
			}

			td, th {
				vertical-align: middle;
				padding: 1.4rem 1rem;

				font-size: 1.4rem;
				color: $oc-gray-7;
				border-bottom-color: $oc-gray-3;

				&:first-child {
					padding-left: 2rem;
				}

				&:last-child {
					padding-right: 2rem;
				}

				&.clickable {
					padding: 0;

					a {
						display: block;
						padding: 1.4rem 0.5rem;
						text-decoration: none;
						color: inherit;
					}

					&:first-child a {
						padding-left: 2rem;
					}

					&:last-child a {
						padding-right: 2rem;
					}
				}

				.form-check-input {
					margin-top: 0;
				}
			}

			tr {
				&:last-of-type {
					td, th {
						border-bottom: 0;

						&:first-child {
							border-bottom-left-radius: 4px;
						}

						&:last-child {
							border-bottom-right-radius: 4px;
						}
					}
				}
			}
		}

		.icon-text-union {
			display: flex;
			align-items: center;

			svg {
				width: 2.2rem;
				height: 2.2rem;
				margin-right: 0.7rem;
				color: $oc-gray-7;
			}

			&.grayed {
				color: $oc-gray-5;

				svg {
					color: $oc-gray-5;
				}
			}

			&.deleted {
				color: $oc-red-7;

				svg {
					color: $oc-red-7;
				}

				.attribute.deleted {
					margin-left: 1rem;
				}
			}
		}

		.avatar-text-union {
			display: flex;
			align-items: center;

			img {
				width: 3.2rem;
				height: 3.2rem;
				margin-right: 1.2rem;
				border: 1px solid $oc-gray-3;
				border-radius: 3rem;
			}
		}
	}

	td.dropdown-column {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		text-align: right;
	}

	.long-text {
		line-height: 1.4;
	}
}
