table.table {
	thead {
		th.sortable {
			cursor: pointer;
			user-select: none;

			.sort-container {
				display: flex;
				align-items: center;

				&.text-end .sort-title {
					margin-left: auto;
				}
			}

			.sort-direction {
				padding-left: 0.3rem;
				line-height: 1.7rem;
				color: $oc-gray-5;

				svg {
					width: 1.5rem;
					height: 1.5rem;
					margin-bottom: 0.1rem;
					transition: transform 0.1s;
				}
			}

			&:hover {
				.sort-direction {
					color: $oc-gray-7;
				}
			}

			&.active {
				.sort-direction {
					color: $oc-gray-7;
				}
			}
		}
	}

	&.themed {
		border-radius: 4px;
		background-color: $oc-white;
		box-shadow: 0 0 3px rgba($oc-black, 0.03);

		thead {
			th {
				background-color: $oc-gray-2;
				color: inherit;

				font-size: 1.4rem;
				font-weight: 500;
				color: $oc-gray-7;

				vertical-align: middle;
				line-height: 3.5rem;
				border-bottom-color: $oc-gray-3;

				&:first-of-type {
					border-top-left-radius: 4px;
					padding-left: 2rem;
				}

				&:last-of-type {
					border-top-right-radius: 4px;
					padding-right: 2rem;
				}
			}
		}

		tbody {
			tr {
				&.clickable {
					cursor: pointer;
				}
			}

			td, th {
				vertical-align: middle;
				padding-top: 1.4rem;
				padding-bottom: 1.4rem;

				font-size: 1.4rem;
				color: $oc-gray-7;
				border-bottom-color: $oc-gray-3;

				&:first-child {
					padding-left: 2rem;
				}

				&:last-child {
					padding-right: 2rem;
				}

				&.clickable {
					padding: 0;

					a {
						display: block;
						padding: 1.4rem 0.5rem;
						text-decoration: none;
						color: inherit;
					}

					&:first-child a {
						padding-left: 2rem;
					}

					&:last-child a {
						padding-right: 2rem;
					}
				}

				.form-check-input {
					margin-top: 0;
				}
			}

			tr {
				&:last-of-type {
					td, th {
						border-bottom: 0;

						&:first-child {
							border-bottom-left-radius: 4px;
						}

						&:last-child {
							border-bottom-right-radius: 4px;
						}
					}
				}
			}
		}

		.icon-text-union {
			display: flex;
			align-items: center;

			svg {
				width: 2.2rem;
				height: 2.2rem;
				margin-right: 0.7rem;
				color: $oc-gray-7;
			}

			&.grayed {
				color: $oc-gray-5;

				svg {
					color: $oc-gray-5;
				}
			}
		}

		.avatar-text-union {
			display: flex;
			align-items: center;

			img {
				width: 3.2rem;
				height: 3.2rem;
				margin-right: 1.2rem;
				border: 1px solid $oc-gray-3;
				border-radius: 3rem;
			}
		}
	}

	td.dropdown-column {
		padding: 0 2rem 0 0;
		text-align: right;
	}

	.dropdown {
		button.btn {
			background-color: transparent;
			color: $oc-gray-5;
			border-radius: 4px !important;

			padding: 0;
			height: auto;

			padding: 0.7rem;
			outline: none !important;
			box-shadow: none !important;

			transition: background-color 0.2s, color 0.2s;

			svg {
				width: 1.8rem;
				height: 1.8rem;
			}

			&:hover, &[aria-expanded="true"] {
				background-color: $oc-gray-2;
				color: $oc-gray-6;
			}
		}

		.dropdown-menu {
			transform: translate(0, 3.6rem) !important;
			min-width: 15rem;
			box-shadow: 0 0 5px rgba(#000, 0.08);
			border-color: $oc-gray-4;
			padding: 0.8rem 0;

			.dropdown-item {
				font-size: 1.4rem;
				padding: 0.8rem 1.6rem;
				color: $oc-dark-4;

				&.danger {
					color: $oc-red-7;
				}

				&:focus, &:active {
					background-color: $oc-gray-3;
				}
			}

			a.dropdown-item {
				text-decoration: none;
				color: $oc-dark-4;

				&:hover {
					color: $oc-dark-4;
				}
			}
		}
	}
}
