.login-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	.login-container {
		background-color: $oc-white;
		box-shadow: 0 0 6px rgba($oc-black, 0.14);
		border-radius: 6px;

		width: 40rem;
		max-width: 100%;

		.login-header {
			display: flex;
			align-items: center;
			justify-content: center;

			color: $oc-dark-4;
			text-align: center;

			padding: 45px 35px 35px;

			svg {
				margin-right: 8px;
			}

			h1 {
				font-size: 20px;
				font-weight: 600;
				line-height: 1;
				margin: 0 0 2px;
			}
		}

		.login-content {
			padding: 0 35px 35px;

			.form-check-label {
				color: $oc-dark-2;
			}
		}

		.login-footer {
			background-color: $oc-gray-2;
			padding: 35px;
			border-radius: 0 0 6px 6px;

			font-size: 14px;
			color: $oc-dark-4;

			text-align: center;
		}

		.form-error {
			background-color: $oc-red-1;
			border-radius: 4px;

			display: flex;
			align-items: center;

			min-height: 3.6rem;

			padding: 0.8rem 1.1rem;

			color: $oc-red-7;
			font-size: 1.4rem;
			font-weight: 400;

			svg {
				flex: 0 0 1.8rem;
				height: 1.8rem;
				width: 1.8rem;
				margin-right: 1rem;
			}
		}
	}
}
