.promise {
	background-color: $oc-gray-1;
	border-radius: 4px;
	padding: 3rem 4rem;

	display: flex;
	align-items: center;
	justify-content: center;

	&.error, &.success {
		.inner {
			text-align: center;

			svg {
				margin-bottom: 0.5rem;

				width: 3.6rem;
				height: 3.6rem;
				stroke-width: 1.5;
			}

			p {
				font-size: 1.6rem;
				font-weight: 500;
				line-height: 1.6;
				margin: 0;
			}
		}
	}

	&.error {
		background-color: $oc-red-1;

		.inner {
			text-align: center;

			svg {
				color: $oc-red-6;
			}

			p {
				color: $oc-red-7;
			}
		}
	}

	&.success {
		.inner {
			text-align: center;

			svg {
				color: $oc-dark-3;
			}

			p {
				color: $oc-dark-3;
			}
		}
	}

	.actions {
		margin-top: 2rem;
	}

	.d-flex {
		align-items: center;
		width: 100%;

		svg {
			margin-right: 1rem;
			margin-bottom: 0 !important;
			flex-shrink: 1;
			flex-basis: 3.6rem;
		}

		p {
			flex-grow: 1;
			text-align: left;
		}

		.actions {
			margin-top: 0;
		}
	}
}
