.promise {
	background-color: $oc-gray-1;
	border-radius: 4px;
	padding: 3rem 4rem;

	display: flex;
	align-items: center;
	justify-content: center;

	&.error {
		background-color: $oc-red-1;

		.inner {
			text-align: center;

			svg {
				color: $oc-red-6;
				margin-bottom: 0.5rem;

				width: 3.6rem;
				height: 3.6rem;
				stroke-width: 1.5;
			}

			p {
				color: $oc-red-7;
				font-size: 1.6rem;
				font-weight: 500;
				line-height: 1.6;
				margin: 0;
			}
		}
	}
}
