header {
	box-shadow: 0 0 2rem rgba(113, 113, 113, 0.14);

	.main-header {
		background-color: #fff;
		padding: 2rem 5rem;

		.header-flex {
			display: flex;
			align-items: stretch;
		}

		.header-logo {
			a {
				display: flex;
				background-color: #ff3b4a;
				border-radius: 4px;

				width: 5rem;
				height: 5rem;

				align-items: center;
				justify-content: center;

				margin-right: 1.5rem;
				transition: background-color 0.2s;

				&:hover {
					background-color: darken(#ff3b4a, 15%);
				}
			}
		}

		.create-repo-button {
			margin-left: 1.1rem;

			a {
				display: flex;
				background-color: $oc-gray-1;
				border-radius: 4px;

				width: 5rem;
				height: 5rem;

				align-items: center;
				justify-content: center;

				color: $oc-gray-5;
				transition: background-color 0.2s;

				&:hover {
					color: $oc-gray-6;
					background-color: $oc-gray-2;
				}
			}
		}
	}

	.repo-header {
		background-color: $oc-white;
		border-top: 1px solid $oc-gray-1;
		border-bottom: 1px solid $oc-gray-1;

		padding: 1rem 5rem;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.repo-navigation {
			margin-left: -1.2rem;

			ul {
				display: flex;
				column-gap: 0.4rem;

				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 0;

					a {
						display: inline-block;

						padding: 0.7rem 1.2rem;
						font-size: 1.4rem;
						line-height: 2rem;

						text-decoration: none;
						color: $oc-gray-5;

						&:hover {
							background-color: $oc-gray-0;
							border-radius: 4px;
						}

						&.active {
							color: #ff3342;
							font-weight: 500;
						}
					}
				}
			}
		}

		.repo-actions {
			display: flex;
			align-items: stretch;
			column-gap: 0.4rem;
			flex-grow: 1;
			justify-content: flex-end;

			.action-button {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 3.4rem;
				height: 3.4rem;

				cursor: pointer;

				background-color: $oc-gray-1;
				border-radius: 3px;
				border: 0;

				transition: background-color 0.2s, color 0.2s;
				color: $oc-gray-6;

				svg {
					width: 1.8rem;
					height: 1.8rem;
				}

				&:hover {
					background-color: $oc-gray-2;
					color: $oc-gray-7;
				}
			}

			.action-search {
				position: relative;

				max-width: 27rem;
				width: 100%;

				label {
					display: flex;
					align-items: center;
					height: 100%;

					position: absolute;
					color: $oc-gray-6;

					padding-left: 0.9rem;
					pointer-events: none;

					svg {
						width: 1.8rem;
						height: 1.8rem;
					}
				}

				input[type=text] {
					height: 3.4rem;
					line-height: 3.4rem;

					font-size: 1.3rem;
					padding: 0 3.5rem;

					width: 100%;

					background-color: $oc-gray-1;
					border-radius: 3px;
					border: 0;

					transition: background-color 0.2s, color 0.2s;
					color: $oc-gray-8;

					outline: none !important;

					&::placeholder {
						color: $oc-gray-5;
					}

					&:focus, &:active {
						background-color: $oc-gray-2;
					}
				}

				&.error {
					label {
						color: $oc-red-5;
					}

					input {
						background-color: $oc-red-1;
						color: $oc-red-6;

						&:focus, &:active {
							background-color: $oc-red-1;
							color: $oc-red-7;
						}

						&::placeholder {
							color: $oc-red-4;
						}
					}
				}
			}
		}
	}

	&.state--with-repo {
		box-shadow: 0 0 0.8rem rgba(113, 113, 113, 0.06);
	}

	@import 'header/repo_picker';
	@import 'header/user_dropdown';
}
