.notifications {
	position: fixed;
	bottom: 2rem;
	right: 3rem;
	width: 36rem;
	z-index: 1001;

	.notification {
		display: flex;
		padding: 1.2rem 2rem 1.2rem 1.4rem;
		margin: 0 0 1rem;

		background-color: $oc-gray-1;
		box-shadow: 0 0 1.2rem rgba(#000, 0.15);
		border: 1px solid $oc-gray-3;
		border-radius: 4px;

		cursor: pointer;
		transition: background-color 200ms;

		&:hover {
			background-color: $oc-gray-0;
		}

		.notification-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
			margin-right: 1rem;
			flex: 0 0 2rem;

			svg {
				width: 1.8rem;
				height: 1.8rem;
			}
		}

		.notification-content {
			h4 {
				overflow: hidden;
				text-overflow: ellipsis;

				font-size: 1.4rem;
				font-weight: 700;
				line-height: 2rem;

				height: 2rem;
				margin-bottom: 0.3rem;
			}

			p {
				font-size: 1.4rem;
				line-height: 1.35;
				color: $oc-gray-7;
				margin: 0;
			}
		}

		@each $map, $name in $oc-color-list {
			&.#{$name} {
				.notification-icon, .notification-content h4 {
					color: map-get($map, "7");
				}
			}
		}
	}

	.notification-fading {
		pointer-events: none;
		user-select: none;
	}
}
