@import 'utilities/reset';
@import 'components/kit/index';
@import 'layout/index';

html {
	font-size: 62.5%;
}

body {
	font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	-webkit-font-smoothing: antialiased;
	background-color: $oc-gray-0;
}

// Components
@import 'layout/header';
@import 'layout/notifications';
@import 'components/loader';
@import 'components/tabs';
@import 'components/helpers/promise';

// Special pages
@import 'pages/login';
