.btn {
	height: 36px;
	padding: 0 18px;
	border: 1px solid transparent;
	color: $oc-white;
	border-radius: 4px;
	font-weight: 600;
	position: relative;
	line-height: 1;
	font-size: 14px;

	transition: color 0ms;

	&:hover, &:active, &:focus {
		border-color: transparent;
		color: $oc-white;
	}

	.button-loader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		color: #fff;
	}

	&.loading {
		color: transparent;
		cursor: default;
	}

	&.has-icon {
		padding-left: 38px;

		.button-icon {
			position: absolute;
			top: 8px;
			left: 14px;

			svg {
				width: 18px;
				height: 18px;
			}
		}
	}

	@each $map, $name in $oc-color-list {
		&.btn-#{$name} {
			background-color: map-get($map, "8");

			&:hover {
				background-color: map-get($map, "7");
			}

			&.loading:hover {
				background-color: map-get($map, "8");
			}

			&.btn-light {
				background-color: lighten(map-get($map, "8"), 1.8%);

				&:hover {
					background-color: lighten(map-get($map, "7"), 1.8%);
				}

				&.loading:hover {
					background-color: lighten(map-get($map, "8"), 1.8%);
				}
			}
		}
	}
}
