.scope-picker {
	border: 1px solid $oc-gray-3;
	border-radius: 4px;

	table {
		width: 100%;
	}

	.scope-picker-header {
		background-color: $oc-gray-3;

		td {
			padding: 0.9rem 1.2rem;
			font-size: 1.3rem;
			font-weight: 500;
			color: $oc-dark-5;
		}
	}

	tr.scope-row {
		label {
			margin: 0;
		}

		td {
			padding: 0 0.5rem;

			label {
				padding: 0.6rem 0;
			}
		}

		td.scope-checkbox {
			padding-left: 1.2rem;

			input {
				margin: 0;
				padding: 0;

				width: 1.5rem;
				height: 1.5rem;
			}
		}

		td.scope-id {
			padding-right: 2rem;

			label {
				font-size: 1.3rem;
				font-weight: 500;
				color: $oc-dark-4;

				&.disabled {
					color: $oc-dark-3;
				}
			}
		}

		td.scope-description {
			padding-right: 1rem;

			label {
				font-size: 1.3rem;
				font-weight: 400;
				color: $oc-dark-3;

				&.disabled {
					color: $oc-dark-2;
				}
			}
		}

		&.first {
			td {
				padding-top: 0.4rem;
			}
		}

		&.last {
			td {
				padding-bottom: 0.4rem;
			}
		}
	}
}
