.tabs {
	display: flex;

	.tabs-navigation {
		width: 25rem;
		flex-shrink: 0;
		margin-right: 4rem;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				position: relative;

				a {
					display: flex;
					align-items: center;

					height: 3.2rem;
					border-radius: 4px;

					font-size: 1.4rem;
					text-decoration: none;
					color: $oc-dark-4;

					padding: 0 2px;
					transition: background-color 150ms;

					.tab-icon {
						display: flex;
						align-items: center;
						justify-content: center;

						color: $oc-dark-4;
						width: 3.2rem;
						margin-right: 0;

						svg {
							width: 18px;
							height: 18px;
						}
					}

					&:hover {
						background-color: $oc-gray-2;
					}
				}

				&.active {
					a {
						background-color: $oc-gray-2;
						font-weight: 500;
						color: $oc-dark-6;

						&:after {
							position: absolute;
							top: 4px;
							bottom: 4px;
							left: -2px;
							width: 4px;
							content: '';
							background-color: $oc-blue-6;
							border-radius: 3px;
						}
					}
				}

				&.tab-separator {
					.tab-section {
						font-size: 1.2rem;
						font-weight: 500;
						color: $oc-gray-6;

						padding: 1.5rem 0 0.8rem 1rem;
						margin-top: 1rem;

						border-top: 1px solid $oc-gray-2;
					}

					&:first-of-type {
						.tab-section {
							padding-top: 0;
							border-top: 0;
						}
					}
				}
			}
		}
	}

	.tabs-content {
		flex-grow: 1;
	}
}
